h1{
  font-family: Impact, Charcoal, sans-serif;
  color:blue;
}
body{
background-image: url("https://thumbs.dreamstime.com/b/digital-painted-pastel-vertical-background-pink-blue-colors-67862800.jpg");
background-colour:turqoise;
}
